@import '../../index.scss';

.circle-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bg-image {
    background-image: url('../../images/Team.png');
    // min-height: 45vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img3,
.img3partetwo {
    max-height: 65vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img {
    min-height: 40vh !important;
    max-width: 40vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.miniver {
    font-family: $Miniver;
    color: $color_1;
}

.inter {
    font-family: $Inter;
}

.item {
    color: $color_1;
    font-family: bold;
    font-family: $Inter;
}



.kalam {
    font-family: $Kalam;
}

.about {
    font-family: 'Kalam';
    color: $color_1;
}

.Great {
    font-family: $Great;
    color: $color_1;
}

// Parte 1

@media (max-width: 500px) {
    .why {
        position: relative;
        top: 20px;
    }

    .vison {
        margin-left: 20px !important;
    }

    .items {
        display: flex;
        flex-direction: column !important;
        position: relative;
        top: 140px;
    }

    .img {

        transform: translateX(-50%);
        max-width: 40vh !important;
    }

    .paghar {
        p {
            font-size: 18.3px !important;
        }
    }

    .twoimage {
        display: flex;
        justify-content: center !important;
        margin-left: auto;
        margin-right: auto;

    }



}

@media (min-width: 501px) and (max-width: 800px) {
    .vison {
        margin-left: 20px !important;
        margin-top: -100px !important;
    }

    .items {
        display: flex;
        flex-direction: column !important;
    }

    .twoimage {
        display: flex;
        justify-content: center !important;
        margin-left: auto;
        margin-right: auto;

    }

    .paghar {
        margin-left: auto;
        margin-right: auto;


        p {
            font-size: 19px !important;

        }

    }



}


@media (min-width: 801px) and (max-width: 1023px) {
    .img {
        position: relative;
        // left: 50%;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        max-width: 40vh !important;


    }

    .paghar {
        position: relative;
        left: 44%;
        transform: translateX(-50%);

        p {
            font-size: 14px !important;
        }

    }
}



@media (min-width:1024px) and (max-width: 1150px) {
    .img {
        position: relative;
        // left: 40%;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        max-width: 33vh !important;
        top: -6% !important;

    }

    .img3 {
        max-width: 33vh !important;
        position: relative;
        // left: -10%;

    }

    .paghar {
        position: relative;
        left: 38%;

        transform: translateX(-50%);
        top: -7% !important;

        p {
            font-size: 14.3px !important;
        }
    }
}



@media (min-width:1151px) and (max-width: 1497px) {
    .img {
        position: relative;

        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        top: -6% !important;

    }

    .img3 {

        position: relative;
        margin-left: auto;
        margin-right: auto;

    }

    .paghar {
        position: relative;
        left: 42%;

        transform: translateX(-50%);
        top: -7% !important;

        p {
            font-size: 16.3px !important;
        }
    }
}





// Parte 2 

@media (max-width: 500px) {
    .twoimageParte2 {
        display: flex;
        justify-content: center !important;
        margin-left: auto;
        margin-right: -45px;
    }

    .paghar2 {
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 18.3px !important;
        }
    }
}



@media (min-width: 501px) and (max-width: 800px) {
    .paghar2 {
        // display:flex;
        // justify-content:center !important;
        margin-left: auto;
        margin-right: auto;

        p {
            font-size: 19px !important;

        }

    }

    .twoimageParte2 {
        display: flex;
        justify-content: center !important;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 801px) and (max-width: 1023px) {
    .twoimageParte2 {
        // position: relative;
        left: 75%;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        max-width: 40vh !important;


    }

    .paghar2 {
        position: relative;
        left: 64%;
        transform: translateX(-50%);

        p {
            font-size: 14px !important;
        }

    }
}


@media (min-width:1024px) and (max-width: 1150px) {
    .twoimageParte2 {
        position: relative;
        left: 72%;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        max-width: 33vh !important;
        top: 6% !important;

    }

    .img3partetwo {
        max-width: 33vh !important;
        position: relative;
        left: -22%;

    }

    .paghar2 {
        position: relative;
        left: 65%;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        top: -7% !important;

        p {
            font-size: 12.4px !important;
        }
    }
}



@media (min-width:1151px) and (max-width: 1279px) {
    .twoimageParte2 {
        position: relative;
        left: 78%;

        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        top: 10% !important;

    }

    .img3partetwo {
        left: -10%;

        position: relative;
        margin-left: auto;
        margin-right: auto;

    }

    .paghar2 {
        position: relative;
        left: 57%;

        transform: translateX(-50%);
        top: -7% !important;

        p {
            font-size: 15px !important;
        }
    }
}



@media (min-width:1279px) and (max-width: 1356px) {
    .twoimageParte2 {
        position: relative;
        left: 78%;

        margin-left: auto;
        margin-right: auto;
        transform: translateX(-50%);
        top: 10% !important;

    }

    .img3partetwo {
        position: relative;
        left: -16%;
        margin-left: auto;
        margin-right: auto;

    }

    .paghar2 {
        position: relative;
        left: 66% !important;

        margin-left: auto;
        margin-right: auto;

        transform: translateX(-50%);
        top: 10% !important;

        p {
            font-size: 15px !important;
        }
    }
}