.slick-slide>div {
    margin: 0 10px;
}

.circle-image-pic2 {

    border-radius: 50%;
    animation: rotate 100s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width:499px) {
    .welcom {
        min-height: 75vh !important;
    }
}


@media (min-width:1224px) and (max-width:1279px) {
    .chosse {
        position: relative;
        top: 100px !important;
        left: 40px !important;
    }
}

@media (max-width:639px) {
    .gridHome {
        display: flex;
        flex-direction: column !important;
        margin-top: 7%;
    }

    .buttonHome {
        margin-left: 10%;


    }

    // .welcom {
    //     height: 70vh;
    // }


}


@media (max-width:550px) {
    .circle-image-pic2 {
        max-width: 41vh !important;
        margin-left: 13%;
        margin-top: 50px;
    }
}

@media (min-width:551px) and (max-width:639px) {
    .circle-image-pic2 {
        max-width: 52vh !important;
        margin-left: 13%;
        margin-top: 55px;
    }
}


@media (min-width:640px) and (max-width:870px) {
    .circle-image-pic2 {
        max-width: 34vh !important;
        margin-left: 13%;
        margin-top: 40px;
    }
}

@media (min-width:871px) and (max-width:1137px) {
    .circle-image-pic2 {
        max-width: 50vh !important;
        margin-left: 13%;
        margin-top: 40px;
    }
}

@media (min-width:1138px) and (max-width:1279px) {
    .circle-image-pic2 {
        max-width: 59vh !important;
        margin-left: 13%;
        margin-top: 40px;
    }
}



@media (max-width:767px) {
    .twooimage {
        // margin-left: 50%;
        position: relative;
        left: 50%;
        top: 5%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .twooimage {
        // margin-left: 50%;
        position: relative;
        left: 70%;
        top: 5%;
    }
}