@media (max-width: 500px) {
    .singleimage {
        max-width: 40vh !important;
    }

    // .name {
    //     margin-left: 30%;
    // }

    .parghaS {
        width: 98% !important;
        margin-left: 10px !important;
    }

    .order {
        width: 60% !important;
    }
}