@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// font family : 
$Miniver: "Miniver";
$Inter: "Inter";
$Kalam: "Kalam";
$Great : "Great Vibes";
// color
$color_1: #195A00;